// 9pm
// FONTS
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
$poppins: 'Poppins', sans-serif;
// COLORS
// white
$pure-white: #fff; 
// black
$black: #34313D;
$footer-black:#232127;
// purples
$dark-purples: #3A3054;
$ligth-purples: #4B3F6B;
// grey
$dark-grey: #9E9AA8;
$ligth-grey: #EFF1F7;
// aqua
$aqua: #2BD0D0;
$ligth-aqua: #9AE3E3;
